body{
    background-color: rgba(220, 20, 60, 0.432);
}

div{
    width: 250px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    background-color:rgba(137, 43, 226, 0.575) ;
    color: white;
    
}

#respostaidade{
    margin: 20px;
}

#agr{
    margin: 20px;
}

#pessoa{
    margin: 20px;
}

#res{
    margin: 20px;
}

input{
    border-radius: 10px;
}

